* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000; /* Черный фон */
    color: #fff;
    overflow-x: hidden;
    background: linear-gradient(135deg, #ff007f, #8a2be2); /* Розовый и фиолетовый градиент */
}

header {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

header .cyberpunk-header {
    font-size: 3rem;
    color: #ff007f; /* Неоновый розовый */
    text-shadow: 0 0 15px #ff007f, 0 0 25px #ff007f; /* Эффект неона */
    letter-spacing: 2px;
}

.container {
    position: relative;
    z-index: 2;
}

section {
    padding: 50px 0;
    margin: 0 15%;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 40px 20px;
}

.left-block, .right-block {
    width: 45%;
}

.left-block p, .right-block ul {
    font-size: 1.2rem;
    margin-top: 20px;
}

.cyberpunk-subheader {
    font-size: 2.5rem;
    color: #ff007f;
    text-shadow: 0 0 15px #ff007f, 0 0 25px #ff007f;
    margin-bottom: 20px;
}

.right-block ul {
    list-style-type: none;
    padding-left: 0;
}

.right-block li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.logo-center {
    width: 10%;
    text-align: center;
}

.logo-center .logo {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(23%) sepia(96%) saturate(612%) hue-rotate(354deg) brightness(104%) contrast(104%);
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 1rem;
}

.about {
    text-align: center;
}

.about p {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-top: 20px;
}

/* Эффект подсветки лампы на заголовки */
section h2 {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    color: #ff007f;
    text-shadow: 0 0 15px #ff007f, 0 0 25px #ff007f;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

section h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(10px);
    z-index: -1;
    animation: lightbeam 2s ease-in-out infinite;
}

@keyframes lightbeam {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
